
/* HEY GUYS. PLEASE DON'T MAKE CHANGES TO OTHER MEMBERS' STYLING 

DON'T FORGET TO PUSH YOUR CODE TO GITHUB AFTER MAKING CHANGES TO YOUR PAGE SO THAT RECENT 
CHANGES ARE VISIBLE TO EVERYONE 
*/

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #CBB99D;
}

*{
  box-sizing: border-box;
}

/*Header*/
header{
  background-color: #749665;
}

#logo{
  font-size: 30px;
  font-weight: 700;
}

/*Navigation bar*/

.nav-menu{
  background-color:#749665 ;
  text-align: center;
  width: 100%;
  margin: 0 0;
  position: sticky;
  top: 0px;
  padding: 1px 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 50;
  font-size: 20px;
  padding: 0px 5%;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: linear-gradient(to right, #ff4500, #CBB99D);
  transition: width 0.2s ease;
}
.nav-link:hover {
  color: #ff4500;
}
.nav-link:hover::before {
  width: 100%;
}

.nav-link.active {
  color: #ff4500;
}
.nav-link.active::before {
  width: 100%;
}



/*Main*/

h1{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

main p{
  text-align: center;
  margin-top:0;
  margin-bottom: 0;
}

#slogan{
    font-style: italic;
    margin-bottom: 20px;
    display: inline-block;
    width: 300px;
    margin-left: 38%;

}


#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 5% auto 0;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 50px;
}

#intro{
  border: 1px solid #80622D;
  border-radius: 5px;
  border-top: 0;
  border-bottom: 0;
  padding: 0 5px;

}

#more-about{
  color: #474138;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 40%;
} 

#first-img{
  width: 600px;
  height: 673px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 15px;
}

#description2{
  margin-bottom: 20px;
}

#second-img{
  width: 550px;
  height: 465px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 20px;
}


/* Second grid */
#help{
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px ;
}

#information{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

#information img{
  width: 580px;
  height: 600px;
  object-fit: cover;
  margin-left: 60px;
  border-radius: 5px;
}

#information #text{
  margin-top: 15px;
   margin-left: 10%;
   width: 400px;
   text-align: justify;
}

#information #specialisation{
  font-weight: 500;
  text-align: left;
  margin-left: 35%;
  font-size: large;
  font-style: italic;
}

#information ul{
  margin-top: 5px;
  margin-left: 33%;

}

#more-portfolio{
  color: #474138;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 75%;
}

#right-grid img{
  width: 490px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
  height: 400px;
  margin-bottom: 20px;
}

#right-grid{
  border: 1px solid #80622D;
  width: 600px;
  height: 700px;
  border-radius: 5px;
  padding-bottom: 15px;
}


#left-grid h3{
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  font-style: italic;
}

#left-grid ul{
  margin-top: 5px;
  text-align: center;
  margin-right: 40%;
}

#contact-us{
  color: #474138;
  text-decoration: none;
  margin-left: 42%;
}

#locations{
  border: 1px solid #80622D;
  width: 580px;
  margin-left: 50px;
  border-radius: 5px;
  padding-bottom: 10px;
  border-top: 0;
  border-bottom: 0;
}



/*Footer*/
footer{
  background-color: #749665;
  color: black;
    margin-top: 5%;
    margin-bottom: 0;

}

footer p{
  text-align: center;
}

footer{
  padding: 1px;
}
/* start of portfolio page*/
#featured-projects {
    padding: 60px 20px;
    background-image: url("./image/portfolioheader.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

#featured-projects h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 8px;
}

.featured-subtitle {
    font-size: 1rem;
    color: #080808;
    margin-bottom: 40px;
    font-weight: 300;
}
#portfolio-projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.container,.container-reverse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 50px;
    align-items: center;
    background: #CBB99D
}
.container-reverse {
    direction: rtl;
}

.container-reverse .projecttext {
    direction: ltr;
}
.projectimage {
    height: 100%;
    min-height: 320px;
    overflow: hidden;
}
.projectimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projecttext {
    padding: 35px 30px 35px 20px;
    direction: ltr;
}
.projecttext h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000000;
    margin: 0 0 8px;
}

.projecttext p {
    font-size: 0.95rem;
    color: #444;
    line-height: 1.7;
    margin: 0 0 12px;
}

.projecttext h4 {
    font-size: 0.85rem;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1px;
    margin: 0;
}
/* end of portfolio page code */



