
/* HEY GUYS. PLEASE DON'T MAKE CHANGES TO OTHER MEMBERS' STYLING 

DON'T FORGET TO PUSH YOUR CODE TO GITHUB AFTER MAKING CHANGES TO YOUR PAGE SO THAT RECENT 
CHANGES ARE VISIBLE TO EVERYONE 
*/

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #CBB99D;
}

*{
  box-sizing: border-box;
}

/*Header*/
header{
  background-color: #749665;
}

#logo{
  font-size: 30px;
  font-weight: 700;
}

/*Navigation bar*/
nav{
  background-color:#749665 ;
  text-align: center;
}

nav a{
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
  margin-bottom: 15px;
}

.button{
  background-color: #CBB99D;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

/*Main*/

h1{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2px;
}

main p{
  text-align: center;
  margin-top:0;
  margin-bottom: 0;
}


#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 5% auto 0;
  justify-content: center;
}

#first-img{
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 15px;
}

#second-img{
  width: 550px;
  height: 470px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 20px;
}

/*Footer*/
footer{
  background-color: #749665;
  color: black;
  margin-top: 5%;
}

footer p{
  text-align: center;
}

footer{
  padding: 1px;
}



